.cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.president{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blanco{
    color: white;
    width: 80%;
    height: 80%;

}

.victoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.victory{
    width: 95vw;
    height: 95vh;
    background-image: url("../../images/victoria.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 100% 100%;
    margin-left: 1%;
    
}

.volverJugar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkIndex{
    text-decoration: none;
}