
#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

#contieneTabla{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    
}

#contienePiezas{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    
}


.unionback{ 
    display: none;
}

.dixieback{
    display: none;
    
}
.retrato{
    height: 50%;
    width: 50%;
}

.tabla{
    width: 100%;
    height: 100%;
    background-image: url("../../images/field.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

#tablero{
    display: grid;
    height: 100%;
    width: 100%;
   grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.casilla{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag{
    display: flex;
    flex-direction: row;
    height: 30%;
}


.jugador{
    background-color: gray;
    color: black;
    
    
}

.uflag{
   background-image: url("../../images/Unitedflag.png");
   width: 50%;
   height: 100%;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cflag{
    background-image: url("../../images/confederate.jpg");
    width: 50%;
   height: 100%;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.piezas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-self: baseline;
}

.pieza{
    height: 100%;
    width: 100%;
    
}

.piz{
    height: 100%;
    width: 100%;
}

.figures{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes{
    width: 60%;
    height: 100%;
    background-color: darkseagreen;
}